<%- include('header') -%>

<div class="container">
    <div  class="row h-100 d-f lex align-items-center justify-content-center" >
        <div class="col-12 col-md-4" >
            <h2>Elfelejtett jelszo</h2>
            <form method="POST">
                <input type="hidden" name="id" value="<%=(typeof userid === 'undefined')?'':userid%>"/>
                <div class="form-group">
                    <label for="azonosito">Azonosito:</label>
                    <input type="text" class="form-control" id="azonosito" placeholder="Azonosito" name="azonosito" value="<%=(typeof user === 'undefined')?'':user.Nev%>">
                </div>
                <input type="submit" class="btn btn-primary" value="Emlekezteto"/>
                <a href="/" type="submit" class="btn btn-link">Megse</a>
                
            </form>
            
    </div>
</div>
</div>

    <%- include('hibak') -%>
    <%- include('footer') -%>