<%- include('header') -%>

<div class="container">
    <div  class="row h-100 d-flex align-items-center justify-content-center" >
        <div class="col-12 col-md-10" >

                 
        
            <table class="table table-striped table-bordered ">
                <tr>
                    <th>
                       
                    </th>
                    <%for(i=0;i<5;i++)
                    {%>
                    
                    <th>
                        <%=napok[i]%>
                    </th>
                    <%}%>
                </tr>
                
                <% for(j=0;j<6;j++)
                {%>
                    <tr>
                        <th>
                            <%=idopontok[j]%>
                        </th>
                    <%for(i=0;i<5;i++)
                    {%>
                    
                    <th>
                       <%if(typeof felhasznaloiTargyak !== 'undefined'){felhasznaloiTargyak.forEach(function(targy,index,object){
                        if(targy.Idopont === napok[i] + ' ' + idopontok[j])
                        {%>
                            <%=targy.Targynev%>
                        <% object.splice(index,1)}
                       })%>
                    </th>

                    <%}}%>
                    </tr>
                <%}%>
                
            
            </table>
    
        
        </div>
    </div>
</div>

    <%- include('hibak') -%>
    <%- include('footer') -%>